{% comment %}
{% set sponsors = site.query('/sponsors').include_undiscoverable(True) %}

<div id="sponsors">
  <div class="sponsor-logos">{% for tier in ["diamond", "platinum", "gold", "silver"] %}
{% set tier_sponsors = sponsors.filter(F.tier == tier).filter(F.is_npo == false) %}
{% if tier_sponsors %}

    <div class="heading">
      <h3>{{tier_sponsors.first().tier}}</h3>
    </div>
    <div class="item-list">{% for sponsor in tier_sponsors %}

      <div class="item {{sponsor.tier}} {{sponsor.id|lower|replace('.', '-')}}">
        <div class="logo"><a href="{{sponsor.website}}" target="_blank" ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}" class="bg-contain"></a>
        </div>{{ sponsor.description.html }}

      </div>{% endfor %}

    </div>{% endif %}
{% endfor %}
{% for tier in ["diamond", "platinum", "gold", "silver"] %}
{% set tier_sponsors = sponsors.filter(F.tier == tier).filter(F.is_npo == true) %}
{% if tier_sponsors %}

    <div class="heading">
      <h3>{{tier_sponsors.first().tier}} - Academic &amp; Community</h3>
    </div>
    <div class="item-list"></div>{% for sponsor in tier_sponsors %}

    <div class="item {{sponsor.tier}}_npo {{sponsor.name|lower|replace('.', '-')}}">
      <div class="logo"><a href="{{sponsor.website}}" target="_blank" ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}" class="bg-contain"></a>
      </div>
      <p>{{ sponsor.description.html }}</p>
    </div>{% endfor %}
{% endif %}
{% endfor %}
{% set supporting_sponsors = sponsors.filter(F.tier == "supporting") %}
{% if supporting_sponsors %}

    <div class="heading">
      <h3>{{supporting_sponsors.first().tier}}</h3>
    </div>
    <div class="item-list"></div>{% for sponsor in supporting_sponsors %}

    <div class="item {{sponsor.tier}}_npo">
      <div class="logo"><a href="{{sponsor.website}}" target="_blank" ff-bg="{{sponsor.url_path }}/{{sponsor.logo}}" class="bg-contain"></a>
      </div>
      <p>{{ sponsor.description.html }}</p>
    </div>{% endfor %}
{% endif %}

  </div>
</div>
{% endcomment %}