{% load i18n wagtailcore_tags %}
{% load wagtailimages_tags %}

<section id="intro">
  <div du-parallax="du-parallax" y="animator" class="background">
    {% image page.background original as bg_photo %}
    <div ff-bg="{{ bg_photo.url }}" class="image bg-cover"></div>
    <div class="image-attribution">
      {% if page.background_attribution %}
        Header photo © {{ page.background_attribution | safe }}
      {% endif %}
    </div>
  </div>
  <div class="overlay"></div>
  <div class="main vcontainer">
    <div class="inner">
      {% image page.cover_logo width-800 as tmp_photo %}
      <div ff-bg="{{ tmp_photo.url }}" class="logo bg-contain"></div>
      <div class="dates"></div>
    </div>
  </div>
  <a ng-click="scrollTo('welcome')" class="down">
    {% include "includes/chevron-down.svg" %}
  </a>
</section>
<section id="welcome">
  <div class="background"></div>
  <div class="overlay"></div>
  <div class="main vcontainer">
    <div class="inner">
      <div class="container">
        <div in-view="in-view" class="row fade-up">
          <div class="one-half column">
            {{ page.intro_title|richtext }}
          </div>
          <div class="one-half column">
            {{ page.intro_content|richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletter">
  <div du-parallax="du-parallax" y="animator" class="background">
    <div ff-bg="static/backgrounds/announcements.jpg" class="image bg-cover"></div>
  </div>
  <div class="overlay"></div>
  <div class="main vcontainer">
    <div class="inner">
      <div in-view="in-view" class="container fade-up">
        <div class="row">
          <h2>Follow The Conversation</h2>
          <p>Join our newsletter to hear the latest news as
soon as we announce them.
          </p>
          <p>We promise, we won't overload your inbox.

          </p>
{% include "includes/subscribe.html" %}

        </div>
        <div class="row">
          <div class="one-half column social"><a href="{{ TWITTER_URL }}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
You can also follow us.
          </div>
          <div class="one-half column social"><a href="{{ SLACK_URL }}" target="_blank"><i class="fa fa-2x fa-slack"></i>
</a>
Or join our Slack team.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sponsors">
  <div class="main vcontainer">
    <div class="inner">
      <div class="container">{% include "sponsors/sponsor_logos.html" %}

      </div>
    </div>
  </div>
</section>
