{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block page_title %}
News &mdash; {{ block.super }}
{% endblock %}

{% block meta_description %}PyCascades Conference News{% endblock %}
{% block body_class %}news posting-list{% endblock %}

{% block content %}
<div class="container">
  <h1>PyCascades News</h1>
  <div class="posting-list">
    {% for posting in page.get_live_posts %}

    <div class="posting">
      <h2>
        <a href="{{ posting.url }}">{{ posting.title }}</a>
      </h2>

      <div class="meta">
        Posted by PyCascades Team
        {% if posting.date %} on {{ posting.date }} {% endif %}
      </div>

      <div class="body">
        <div class="p">
          {% if posting.teaser %}
            {{ posting.teaser|richtext }}
          {% else %}
            {{ posting.content|richtext|truncatewords:30 }}
          {% endif %}
        </div>
      </div>

    {% if not forloop.last %}
      <hr/>
    {% endif %}

  </div>
  {% empty %}
    We don't have any news to share just yet.
  {% endfor %}

</div>
</div>
{% endblock %}