{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block page_title %}{{ page.title }} &mdash; {{block.super}}{% endblock %}

{% block body_class %}schedule{% endblock %}

{% block content %}
  <div class="container">
    {{ page.widget_embed_code|safe }}
  </div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {{ page.widget_head_code|safe }}

  <script type="text/javascript">
 
    // Pretalx Schedule tag which is inside shadow root 
    const PRETALX = document.querySelector("pretalx-schedule").shadowRoot;

    const TALK_MAP = JSON.parse('{{ talk_map | escapejs }}');
    console.log(TALK_MAP)

    // We check if an element is loaded inside pretalx-schedule
    const checkShadowElement = async selector => {
      while ( PRETALX.querySelector(selector) === null) {
        await new Promise( resolve =>  requestAnimationFrame(resolve) )
      }
      return PRETALX.querySelector(selector); 
    };

    // Rewrite pretalx links to point to out website instead
    function rewriteLinks(selector) { 
      // Find each element that starts with the link we need
      var els = selector.querySelectorAll("a[href^='https://pretalx.com/pycascades-2021/talk/']");

      // For each link
      for (var i = 0, l = els.length; i < l; i++) {
        var el = els[i];
        var parts = el.href.split('/');
        var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
        // set ID so we can reference a few for custom styling
        el.setAttribute('id', lastSegment)

        // for a few talks we also want to override the grid area to span across two tracks
        if (['X7QMDR', 'JPTXGD', 'NCWZQQ'].indexOf(el.id) >= 0) {
          el.classList.add("all-tracks");
        }
        if(TALK_MAP.hasOwnProperty(lastSegment)){
          // override href
          el.setAttribute('href', TALK_MAP[lastSegment]);
        } else {
          el.setAttribute('href', 'javascript:void(0');
          el.classList.add("no-link");
        }
      }
    }

    window.onload = () => {
      // Wait for schedule grid to load
      checkShadowElement('.c-grid-schedule').then((selector) => {
        rewriteLinks(selector)
      });

      // Or wait for linear schedule to load for smaller devices
      checkShadowElement('.c-linear-schedule').then((selector) => {
        rewriteLinks(selector)
      });

      // A few talks need to span across tracks so we override grid-row-end or grid-row-start
      // We do that by injecting out own css inside pretalx schedule
      var style = document.createElement('style')
      style.innerHTML = '\
        .c-linear-schedule-session.no-link:hover .info { border: none; } \
        .all-tracks { \
          grid-column-start: 2 !important; \
          grid-column-end: 4 !important; \
        } \
        ';
      PRETALX.appendChild( style );
    }
  </script>
{% endblock %}
