{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block page_title %}{{ page.title }} &mdash; {{ block.super }}{% endblock %}
{% block meta_description %}{{ block.super }} {{ page.title }}{% endblock %}

{% block body_class %}talks talk-detail{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ page.title }}</h1>

  <div class="byline">
  
    {% for speaker in page.speakers.all %}
      {{ speaker.name }}
      {% if not forloop.last %} &amp; {% endif %}
    {% endfor %}

  </div>


  <div class="abstract">
    <p>{{ page.abstract|richtext }}</p>
  </div>
  
  {% if page.slides %}

    <div class="slides">
      <a href="{{ page.slides }}" target="_blank" class="ext">Slides</a>
    </div>
  {% endif %}

  {% if page.video %}
    <div class="video">
      <a href="{{ page.video }}" target="_blank" class="ext">Video</a>
    </div>
  {% endif %}

</div>

{% for speaker in page.speakers.all %}

<div class="container">
  {% image speaker.headshot fill-200x200 as thumbnail_small %}
  {% image speaker.headshot fill-400x400 as thumbnail_medium %}

  {% if speaker.headshot %}
    <div ff-bg="{{ thumbnail_small.url }}" ff-bg-2x="{{ thumbnail_medium.url }}" class="headshot image bg-contain"></div>
  {% else %}
    <div ff-bg="/static/images/headshot.png" ff-bg-2x="/static/images/headshot.png" class="headshot image bg-contain"></div>
  {% endif %}

  <h2>About {{ speaker.name }}</h2>

  <div class="biography">
    {{ speaker.bio|richtext }}
  </div>

  <div class="contact">

    {% if speaker.website %}
      <div class="url">
          <a href="{{ speaker.website }}" target="_blank">
            <i class="fa fa-external-link"></i>
            {{ speaker.website }}
          </a>
      </div>
  {% endif %}

  {% if speaker.twitter %}
    <div class="twitter">
      <a href="https://www.twitter.com/{{ speaker.twitter_handle }}" target="_blank">
        <i class="fa fa-twitter"></i>
        {{ speaker.twitter_handle }}
      </a>
    </div>
  {% endif %}

  {% if speaker.instagram %}
      <div class="instagram">
        <a href="https://www.instagram.com/{{ speaker.instagram }}" target="_blank">
          <i class="fa fa-instagram"></i>
          {{ page.instagram }}
        </a>
      </div>
  {% endif %}

  {% if page.github %}
      <div class="github">
        <a href="https://www.github.com/{{ speaker.github }}" target="_blank">
          <i class="fa fa-github"></i>
          {{ page.github }}
        </a>
      </div>
  {% endif %}
  </div>

</div>
{% endfor %}

<div class="more">
  <a href="{{ page.get_parent.url }}">More Talks</a>
</div>
{% endblock %}