{% load assets %}
{% load wagtailcore_tags corner_banner_tags %}
{% load menu_tags %}
{% load sponsor_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <meta name="description" content="Website for PyCascades 2022, a regional Python conference in the Pacific Northwest hosted online.">
        <meta name="keywords" content="Python,PyCon,Conference,Seattle,PNW">

        <meta property="og:url" content="http://www.pycascades.com">
        <meta property="og:description" content="Website for PyCascades 2022, a regional Python conference in the Pacific Northwest hosted online.">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {# Global stylesheets #}
        {% assets 'pycascades.css' %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
    <div id="page" ng-controller="Ctrl">
        <header headroom ng-class="{scrolling:isScrolling,up:waypoints.info.up,down:waypoints.info.down}">
            <div class="container">
                <div class="logo"><a href="/" ff-bg="/static/images/header-logo.png" class="bg-contain bg-ir">{{ self.title }}</a>
                </div>
            </div>
            {% render_navigation %}
        </header>

        <div id="main">{% block content %}{% endblock %}</div>

        {% corner_banner %}

        <footer>
          <div class="container">
            <ul class="links">
              <li><a href="/code-of-conduct">Code of Conduct</a>
              </li>
              <li class="slack"><a href="{{ SLACK_URL }}" target="_blank"><i class="fa fa-slack"></i> PyCascades</a>
              </li>
              <li class="twitter"><a href="{{ TWITTER_URL }}" target="_blank"><i class="fa fa-twitter"></i> PyCascades</a>
              </li>
              <li class="instagram"><a href="{{ INSTAGRAM_URL }}" target="_blank"><i class="fa fa-instagram"></i> PyCascades</a>
              </li>
            </ul>
            {% block logos %}
                {% sponsor_footer %}
            {% endblock %}
          </div>
        </footer>

        <a id="menu-trigger" ff-bg="/static/images/menu.svg" ng-click="isMenuVisible=!isMenuVisible" class="bg-contain"></a>
        <div id="menu" ng-show="isMenuVisible" ng-click="isMenuVisible=false" class="ng-cloak">
            <a ff-bg="/static/images/close.svg" ng-click="isMenuVisible=false" class="close bg-contain"></a>
            {% render_navigation %}
        </div>

        {# Global javascript #}
        {% assets 'pycascades.js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            <script>
                var data = {};
                pycascades.start(data);
            </script>
            <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endblock %}
    </body>
</html>
