<nav>
  <ul>
    <li class="home">
      <a href="{{ home.url }}">{{ home.title }}</a>
    </li>

    {% for page in menu_pages %}
    </li>
      <li class="{{ page.slug }}"><a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}

    {% comment %}
    <li class="about"><a href="">About</a>
      <ul>
        <li class="about"><a href="/the-conference">The Conference</a>
        </li>
        <li class="organizers"><a href="/organizers">The Team</a>
        </li>
        <li class="conduct"><a href="/code-of-conduct">Code of Conduct</a>
        </li>
        <li class="diversity"><a href="/diversity-and-inclusion">Diversity & Inclusion</a>
        </li>
        <li class="grants"><a href="/grants">Grants</a>
        </li>
        <li class="volunteer"><a href="/volunteer">Volunteer</a>
        </li>
      </ul>
    </li>
    <li class="schedule"><a href="">Program</a>
      <ul>
        <li class="talks"><a href="/talks">Speakers</a>
        </li>
      </ul>
    </li>
    <li class="become-a-sponsor"><a href="">Sponsors</a>
      <ul>
        <li class="become-a-sponsor"><a href="/become-a-sponsor">Become A Sponsor</a>
        </li>
      </ul>
    </li>
    <li class="attend"><a href="https://pretix.eu/pycascades/remote-2021/" target="_blank">Tickets</a>
    {% endcomment %}
  </ul>
</nav>